resultfilename: trialresults.hist 
tracefile: traces_real_static_si_edge_dis/dis-si-s2i_expo_0.5_0.5_sprob_1.0_1.0-rds.pickle/0.0-0/1/0.plain
snapshotfile: trial.snapshot
iter: None
algo: GreedySubCoverSingle
objmethod: log 
ensemble: False
enscount: 5
roundmethod: random
smodel: si
infermode: Spreader
dist: dis
noise: 0.0
noisetype: StateChange
inter: None
graphfile: trial.edgelist
printscore: KenTau
scorestates: i
scoretimes: None