graphfilename: trial.gml
graphfolder: modgraphs
smodel: sir
dist: dis
outformat: edgelist
s2i dist: expo
s2i start: 2.0
s2i end: 2.0
i2r dist: expo
i2r start: 2.0
i2r end: 2.0
e2i dist: expo
e2i start: 2.0
e2i end: 2.0
s2e dist: expo
s2e start: 2.0
s2e end: 2.0
i2s dist: expo
i2s start: 2.0
i2s end: 2.0
sprob start: 0.2
sprob end: 0.2