noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_real_static_si_edge_dis/dis-si-s2i_expo_0.5_2.0_sprob_1.0_1.0-stanford.pickle
startnodecount: 7
sprob: 0.1
s2i: rayleigh 1.0
dist: dis
samplerate: 0
smodel: si
graphfilename: ../real_static_graphs/dis-si-s2i_expo_0.5_2.0_sprob_1.0_1.0-stanford.pickle
noisetype: StateChange
