noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_real_static_si_edge_dis/dis-si-s2i_expo_0.2_1.5_sprob_0.6_0.6-stanford.pickle
startnodecount: 4
sprob: 0.5
s2i: expo 4.0
dist: dis
samplerate: 0
smodel: si
graphfilename: ../real_static_graphs/dis-si-s2i_expo_0.2_1.5_sprob_0.6_0.6-stanford.pickle
noisetype: StateChange
