noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_real_static_seir_edge_dis/dis-seir-i2r_expo_0.5_0.5_e2i_expo_0.5_0.5_s2e_expo_1.0_1.0_sprob_1.0_1.0-stanford.pickle
startnodecount: 11
i2r: expo 2.0
sprob: 0.75
e2i: expo 2.0
s2e: expo 2.0
dist: dis
samplerate: 0
smodel: seir
graphfilename: ../real_static_graphs/dis-seir-i2r_expo_0.5_0.5_e2i_expo_0.5_0.5_s2e_expo_1.0_1.0_sprob_1.0_1.0-stanford.pickle
noisetype: StateChange
