noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_syn_static_sir_edge_dis/dis-sir-i2r_expo_0.1_0.1_s2i_expo_0.1_0.1_sprob_1.0_1.0-datan500deg10_rds_1.pickle
startnodecount: 2
sprob: 0.1
i2r: rayleigh 1.5
s2i: rayleigh 1.5
dist: dis
samplerate: 0
smodel: sir
graphfilename: ../syn_static_graphs/dis-sir-i2r_expo_0.1_0.1_s2i_expo_0.1_0.1_sprob_1.0_1.0-datan500deg10_rds_1.pickle
noisetype: StateChange
