noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_syn_static_si_edge_dis/dis-si-s2i_expo_0.2_1.0_sprob_0.5_0.5-datan500deg10_lpa_1.pickle
startnodecount: 3
sprob: 0.08
s2i: expo 2.0
dist: dis
samplerate: 0
smodel: si
graphfilename: ../syn_static_graphs/dis-si-s2i_expo_0.2_1.0_sprob_0.5_0.5-datan500deg10_lpa_1.pickle
noisetype: StateChange
