noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_syn_static_si_edge_dis/dis-si-s2i_expo_0.2_1.5_sprob_0.8_0.8-datan500deg10_undirectedff_1.pickle
startnodecount: 7
sprob: 0.08
s2i: weibull 1.5 4.5
dist: dis
samplerate: 0
smodel: si
graphfilename: ../syn_static_graphs/dis-si-s2i_expo_0.2_1.5_sprob_0.8_0.8-datan500deg10_undirectedff_1.pickle
noisetype: StateChange
