noise: 0.0
evol: static
tracecount: 5
ongraph: True
traceoutfolder: ./testtraces_syn_static_si_edge_dis/dis-si-s2i_expo_1.5_1.5_sprob_1.0_1.0-datan500deg10_undirectedff_1.pickle
startnodecount: 9
sprob: 0.05
s2i: expo 4.0
dist: dis
samplerate: 0
smodel: si
graphfilename: ../syn_static_graphs/dis-si-s2i_expo_1.5_1.5_sprob_1.0_1.0-datan500deg10_undirectedff_1.pickle
noisetype: StateChange
